.container {
    height: 100%;
    background-color: blue;
    text-align: center;
}

.titolo {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
}

#containersquare {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;;
}

.square {
    width: ;
    padding: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}


