* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.container {
    height: 100%;
    background-color: #083b4c;
    text-align: center;
}

.titolo {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
}

#containersquare {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;;
}

.square {
    width: calc(100% / 7 - 22px);
    padding: 50px;
    margin-left: 11px;
    margin-right: 11px;
    background-color: #1389b2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    font-size: 50px;
    font-weight: 900;
}

.fizz {
    background-color: #0bd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f0466f;
}

